@{
    ViewData["Title"] = "Display";
}
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<table>
    <tr>
        <th>Subject</th>
        <th>Start time</th>
        <th>Exam Date</th>
        <th>Duration</th>
        <th>Class Room</th>
        <th>Faculty</th>
        <th>Status</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
